* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  font-size: 1.5rem;
  box-sizing: border-box;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.control {
  border: none;
  outline: none;
}

.title {
  color: #ffffff;
  background-color: #EA4F3E;

  width: 100vw;
  margin: 0;
  padding: 20px;

  font-family: cursive;
  text-align: center;
}

.text {
  width: 100vw;
  padding: 20px;
  flex: 1;
}

.record,
.pause {
  outline: none;
  border: none;
  cursor: pointer;

  width: 100px;
  height: 100px;
  margin-bottom: 10%;
  border-radius: 50%;
}

.pause {
  background: url("./pause.png") center / 113px no-repeat;
  box-shadow: 0 0 5px 2px #ea4f3e;
}

.record {
  background: url("./record.png") center / 113px no-repeat;
}

.pause.hearing {
  animation: hearing 0.4s ease-in-out infinite alternate;
}

@keyframes hearing {
  0% {
    box-shadow: 0 0 10px 5px #ea4f3e;
    filter: contrast(1);
  }
  50% {
    box-shadow: 0 0 20px 5px #ea4f3e;
  }
  100% {
    box-shadow: 0 0 30px 10px #ea4f3e;
    filter: contrast(1.5);
  }
}
